$bg-gray: rgba(255, 254, 251, 0.8);
$bg-light-gray: #eeeeee;
$bg-white: #fffefb;
$white: #fff;
$text-black: #3f3f3f;
$text-light-black: #49485e;
$text-gray: #b4b4b4;
$red: #ff8484;
$green: #7bae73;
$blue: #99ccff;
